*{
    padding: 0;
    margin: 0;
}

/* header */

.header{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    position: fixed;
    width: 100%;
}

.header h1{
    margin: 20px;
    color: orange;
}

.header ul{
    display: flex;
    gap: 80px;
    margin: 30px;
    list-style: none;
    font-size: 1.5em;
    font-weight: 500;

}

.header  a{
    text-decoration: none;
     color: white ;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) , url(image/pexels-photo-186077.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 130px;
}


.hero h1 {
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 5em;
    padding-bottom: 20px;
}

.hero p{
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
}

.hero button{
    margin-left: 600px;
    margin-top: 40px;
    width: 200px;
    height: 60px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
}


/* section two  */

.section2{
    display: flex;
    gap: 80px;
    padding: 60px;
}
.box1{
    width: 30%;
    height: 80vh;
    /* padding-left: 100px; */
}

.box1 h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}

.box1 p{
    text-align: center;
    width: 80%;
    padding-left: 30px;
    padding-bottom: 20px;
    color: grey;
}

.box1 button{
    width: 150px;
    height: 50px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 100px;
}

/* section three */

.section3{
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    display: flex;
    gap: 40px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.box2{
    width: 20%;
    padding-top: 80px;
    padding-left: 30px;

}
.box2 h1{
    color: orange;
    text-align: center;
}
 .box2 p{
    color: white;
    text-align: center;
    padding-top: 10px;
 }

 /* section four  */

 .section4{
    margin-bottom: 50px;
 }

 .section4 h1{
    text-align: center;
    color: black;
 }

 .section4 hr{
    background-color: orange;
    border: none;
    width: 150px;
    height: 10px;
    margin-left: 600px;
    margin-top: 50px;
    border-radius: 50px;
 }


 /* section five */

 .section5{
    width: 700px;
    height: 70px;
    margin-left: 350px;
    display: flex;
    gap: 20px;
    /* background-color: black; */
 }

.section5 .box3{
    background-color: orange;
    width: 15%;
    height: 50px;
}

.section5 .box3 h1{
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 1.3em;
}

.section5 .box4{
    text-align: center;
    padding-top: 8px;
    font-size: 1.5em;
    color: grey;
}


/* section six */
.section6{
    display: flex;
    gap: 4px;
}
.section6 .box5{
    width: 40%;
    margin: 70px;
    margin-left: 59px;
}

.section6 img{
    width: 90%;
    margin: 50px 50px 0 50px;
}

.section6 h1{
    color: grey;
    font-size: 1.5em;
    /* text-align: center; */
    padding-left: 50px;
}

/* section 7 */

.section7 h1{
    text-align: center;
    color: black;
 }

  .section7 hr{
    background-color: orange;
    border: none;
    width: 150px;
    height: 7px;
    margin-left: 600px;
    margin-top: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
 }

 .section7 p{
    text-align: center;
    width: 60%;
    margin-left: 250px;
    margin-bottom: 20px;
 }

 .section7 .left{
    width: 40%;
    margin-top: 50px;
    margin-left: 30px;
    background-color: orange;
    border-radius: 20px;
 }
.section7 .left h1{
    text-align: center;
    padding-top: 50px;
    color: white;
}

.hall{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
/* section 8 */
.section8{
    margin: 100px;
    padding-top: 50px;
}

.section8 h1{
    text-align: center;
    color: black;
 }

  .section8 hr{
    background-color: orange;
    border: none;
    width: 150px;
    height: 7px;
    margin-left: 500px;
    margin-top: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
 }

 .section8 #p1{
    text-align: center;
    width: 60%;
    margin-left: 250px;
    margin-bottom: 20px;
 }

.section8 .box6{
    width: 30%;
    background-color: rgb(207, 201, 201);

}

.section8 .box6 #p2{
    text-align: center;
    margin: 20px;
    padding-top: 30px;

}

.section8 .box7{
    display: flex;
    gap: 11px;
    margin: 20px;
    padding: 20px;
}

.section8 .box7 img{
    border-radius: 50%;
}

.section8 .box7 p{
    color: white;
    text-align: center;
}

.hall2{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

/* section 9 */
.section9{
    display: flex;
    margin: 90px;
}
.section9 .leftt{
    width: 50%;
}

.section9 .leftt img{
    width: 90%;
}

.section9 .right hr{
    background-color: orange;
    border: none;
    width: 150px;
    height: 7px;
    /* margin-left: 500px; */
    margin-top: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
}

/* section 10 */
.section10 h1{
    text-align: center;
    color: black;
}

.section10 hr{
    background-color: orange;
    border: none;
    width: 150px;
    height: 7px;
    margin-left: 600px;
    margin-top: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
 }

.section10 #p5{
    text-align: center;
    width: 60%;
    margin-left: 250px;
    margin-bottom: 20px;
 }

 .section10{
    margin-bottom: 100px;
 }

 /* footer */
 .footer{
    width: 100%;
    height: 200px;
    background-color: rgb(78, 76, 80);
 }






 /* Contact Page Image */
.contact-image {
    width: 100%;
    max-width: 1000px; /* Smaller image centered above the form */
    display: block;
    margin: 10px auto 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* --- END IMAGE STYLES --- */

/* Features List (No change needed)
.features ul {
    list-style: none;
    padding: ;
    display: flex; 
    justify-content: space-around;
    text-align: center;
}

.features li {
    background: #f0f0f5;
    padding: 15px;
    margin: 10px;
    flex-basis: 30%; 
    border-left: 5px solid #004d99;
} */

/* Forms (Contact Page) */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

form button[type="submit"] {
    background-color: #009933; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #007a29;
}



.contac{
    padding-top: 200px;
}